@font-face {
    font-family: "nationalelight";
    src:url("nationale-light-webfont.woff2");
}

body {
    background-color: #1f1f1f;
    color: #ffa726;
    font-family: "nationalelight";
    overflow: hidden;
}

.header {
    line-height: 1.5;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

#weather {
    color: inherit;
    text-decoration: none;
}

#main {
    text-align: center;
}

#search-bar {
    background-color: #1f1f1f;
    border-bottom: 1px solid #ffa726;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    color: #ffa726;
    height: 2em;
    margin-bottom: 32px;
    text-align: center;
    width: 512px;
}

#links a {
    text-decoration: none;
}

.category {
    display: inline-block;
    font-size: larger;
    margin-bottom: 0;
    padding-left: 64px;
    text-align: left;
    width: 512px;
}

.cat-header-cont {
    margin-right: 0.3em;
    border-right: 1px solid;
    display: inline-block;
    width: 80px;
}

.cat-header {
    color: inherit;
}

.cat-link {
    padding: 8px 10px;
    color: #ffe0b2;
    margin-left: 0.3em;
}

.cat-link:hover {
    color: inherit;
}
